
<nav class="cabeza">
  <div class="nav-flu">
    <div class="nav-hea">
      <button type="button" class="but" data-toggle="collapse" data-target="#myNavbar">
        <img class="img-ico" src="../../../assets/imgMaq/icon-btmenu.png">
      </button>

    </div>

    <img class="img-cre" src="../../../assets/imgMaq/logo-credinform.png">
    <img class="img-bus" src="../../../assets/imgMaq/icon-buscador.png">
    <div class="nav-cont">
      <ul>
        <li data-toggle="dropdown"><a href="#">NUESTROS PRODUCTO
          <span class="caret"></span></a>

        </li>
        <li><a href="#">NOSOTROS
          <span ></span></a>

        </li>
        <li><a href="#">ATENCION AL CLIENTE CONTACTO
          <span></span></a>

        </li>
        <li><a href="#">CONTACTO
          <span></span></a>

        </li>
      </ul>
    </div>
  </div>
</nav>
