<div class="contenido">

  <div class="r">
    <img src="" ng-src="{{inicio.contenido_res[8].contenido}}" class="banner">
    <div class="bien"></div>

    <div class="c-1">
      <div class="cua-2">
        <img class="img-suc" src="../../../assets/imgMaq/icon-sucursales.png">
        SUCURSALES</div>

       <b ng-bind="inicio.contenido_res[9].contenido"></b>
       <p ng-bind="inicio.contenido_res[10].contenido"></p>
      <div class="may"><img src="../../../assets/imgMaq/Fill%2017.png" alt=""></div>

    </div>


    <div class="l-1 a">
       <img src="../../../assets/imgMaq/icon-callcenter.png">
       800 10 7003</div>
     <div class="l-1 b">
       <img src="../../../assets/imgMaq/icon-callcenter.png">
       800 12 7003</div>

  </div>


<section>
      <div class="ar-1"><img src="" ng-src="{{inicio.tu[1].contenido}}" alt="">
        <p class="g" ng-bind-html="inicio.tu[2].contenido"></p>
        <p ng-bind="inicio.tu[3].contenido"></p>
        <div>Ver productos</div>
      </div >
      <div class="ar-1"><img src="" ng-src="{{inicio.tu[5].contenido}}" alt="">
        <p class="g" ng-bind-html="inicio.tu[6].contenido"></p>
        <p ng-bind="inicio.tu[7].contenido"></p>
        <div>Ver productos</div>
      </div>
      <div class="ar-1"><img src="../../../assets/imgMaq/cotizador1%20copy@2x.png" alt="">
        <p class="g" ng-bind="inicio.tu[8].contenido"></p>
        <p ng-bind="inicio.tu[9].contenido"></p>
        <div>Calcular</div>
      </div>
      <div><img src="../../../assets/imgMaq/Group%202.png" alt="">
        <p class="g" ng-bind="inicio.tu[11].contenido"></p>
        <p ng-bind-html="inicio.tu[12].contenido"></p>
        <div>Contactanos</div>
      </div>

</section>
<footer>
  <img src="../../../assets/imgMaq/facebook@2x.png" class="fa">
  <img src="../../../assets/imgMaq/twitter@2x.png" class="tw">
</footer>
</div>
